:root {
    --border-logo: rgb(255 255 255 / .1);
}


.Header {
    padding: 5rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    display: inline-block;
    border-radius: 100%;
    border: 3px solid var(--border-logo);
    height: 44px;
    width: 44px;
}