:root {
    --primary-black: #040404;
    --primary-gray: #27272ae6;
    --primary-white: #ffffff;
    --primary-pink: #FBCFE8;
    --border-logo: rgb(255 255 255 / .1);
    --navigation-height: 44px;
}

.App {
    height: 100vh;
    background-image: none; /* url('https://innocenzi.dev/assets/background.90c96182.webp'); */
    background-color: var(--primary-black);
    background-repeat: no-repeat;
    padding: 0 12rem;
}

main {
    margin: 8rem 0 0 0;
}

@media screen and (max-width: 912px) {
    .App {
        padding: 0 2rem;
    }
}

/************************************************ Header *************************************************/

.Header {
    border: 1px solid white;
    padding: 5rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    display: inline-block;
    border-radius: 100%;
    border: 3px solid var(--border-logo);
    height: 44px;
    width: 44px;
}

.Navigation {
    display: inline-block;
}

.ItemList {
    height: var(--navigation-height);
    background-color: var(--primary-gray);
    display: flex;
    align-items: center;
    border-radius: 9999px;
    padding: 0 0.75rem;
}

.Item {
    display: block;
}

.Link {
    color: var(--primary-white);
    padding: 12px 16px;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
}

.HomeIcon {
    position: relative;
    bottom: -1px;
}

.Link:active {
    color: var(--primary-pink);
}

@media screen and (max-width: 912px) {
    .Header {
        padding: 5rem 0 0 0;
    }
}

/************************************************ End Header *************************************************/