body {
  margin: 0;
  font-family: InterVariable,ui-sans-serif,system-ui,-apple-system;
  /*background-color: #040404;*/
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

